<!doctype html>
<html lang="fr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>About</title>
    <meta name="application-name" content="" />
    <meta name="theme-color" content="#ffffff">
    <script src="/about/dist/static/js/index.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/about/dist/static/css/style.css" charset="utf-8">
    <link rel="icon" type="image/png" href="" sizes="32x32">
    <meta name="description" content="" />

    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:type" content="">
    <meta property="og:locale" content="">

    <meta property="og:description" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:title" content="">
    <meta property="og:title" content="">
</head>

<body>
    <div class="page">
        <h1>About app</h1>
    </div>
</body>
</html>