<!doctype html>
<html lang="fr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>About</title>
    <meta name="application-name" content="" />
    <meta name="theme-color" content="#ffffff">
    <script src="/about/dist/static/js/index.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/about/dist/static/css/style.css" charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
   integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
   crossorigin=""/>
    <link rel="icon" type="image/png" href="" sizes="32x32">
    <meta name="description" content="" />

    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:type" content="">
    <meta property="og:locale" content="">

    <meta property="og:description" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:title" content="">
    <meta property="og:title" content="">
</head>

<body>
    <div class="page" ng-app="about">
        <section class="app-wrapper" ui-view="bodyView"></section>
    </div>
</body>
</html>